<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341520222314-4159a7cq3nfkfancrk0d2r8m1ieh9h26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341520222314-4159a7cq3nfkfancrk0d2r8m1ieh9h26</string>
	<key>API_KEY</key>
	<string>AIzaSyCOwq7EfC22A42YxWcOzN4xCATausbjHuo</string>
	<key>GCM_SENDER_ID</key>
	<string>341520222314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koleda.dev.solus</string>
	<key>PROJECT_ID</key>
	<string>koleda-copilot-dev-b2907</string>
	<key>STORAGE_BUCKET</key>
	<string>koleda-copilot-dev-b2907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341520222314:ios:776d9c4bf9c125ce646213</string>
	<key>DATABASE_URL</key>
	<string>https://koleda-copilot-dev-b2907.firebaseio.com</string>
</dict>
</plist>